:root {
	--color-body: #111;
	--color-main: #5454bb;
	--color-main-dark: #1c1c6f;
	--color-main-light: #9292f3;
}

body {
	color: var(--color-body);
	background-color: var(--color-neutral-light);
	padding-bottom: 6em;
}

a {
	color: var(--color-main);
}

.navbar a {
    color: #fff;
}



.push-down {
	margin-top: 1em;
}




.hero{
	margin: 0;
}
.hero h1{
	font-size: 6vmin;
	color: var(--color-neutral-light);
	text-shadow: 2px 2px 10px rgba(0,0,0,0.2);
	margin-left: 110px;
	margin-top: 160px;
}

.hotdog {
	background-color: white;
}

/*

.flex-spacer {
	flex: none;
	width: 1em;
}

*/


.product-item {
	transition: transform 0.6s, box-shadow 0.3s;
	display: block;
	color: inherit;
	font-weight: normal;
}
.product-item:hover {
	transform: translateY(-2px);
	box-shadow: 3px 3px 15px rgba(0,0,0,0.3);
	text-decoration: none;
}
.product-description {
	padding: 1em 0.5em;
}

.product-thumbs {
	display: flex;
	flex-wrap: wrap;
}
.product-thumbs img {
	max-height:4.5em;
}
.product-list {
	margin-top:1em;
}
.product-list .product-item {
	display:block;
}


.product-imagemain {
	position: relative;
	height: 0;
	padding-bottom: 66%;
}
.product-imagemain img {
	position: absolute;
	top: 0;
	left: 0;
	height:100%;
	width:100%;
	object-fit:contain;
	object-position: center;
}






@media (max-width: 450px) {
	.navbar h1 {
		white-space: nowrap;
	}
	.navbar>.display-flex {
		flex-wrap: wrap;
	}
}

